body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item .carousel-content {
    width: 100%;
    max-height: 20em;
    background-color: aquamarine;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

h5 {
    position: relative;
    left: 25%;
    width: 50%;
    max-height:3em;
    overflow-y:scroll;  
}::-webkit-scrollbar {
     width:0px;
 }

.projects {
    height:20em;
}

.project-title {
    text-decoration:underline;
}

.project-desc {
    width:50%;
}

#carousel-title {
    font-size:2em;
    padding-top:1em;
    font-style:italic;
    font-weight:600;
    background-color:aquamarine;
    border-bottom-width: 0px;
}

#myCarousel {
    background-color: aquamarine;
    border-radius: 1em;
    overflow:hidden;
}

.blog-content {
    word-wrap: break-word;
}

.comment-panel {
    border-radius: 5px;
    background-color: white;
    padding:1em;
}

.del-button {
    color:red;
    cursor:pointer;
}

.personal_pic {
    width: 100px;
    height: 100px;
    object-fit:cover;
    border-radius: 50%;
    float:left;
    margin:2em;
}

.info-btn {
    text-align:center;
    cursor:pointer;
}

.contact {
    list-style:none;
}