@{
    ViewData["Title"] = "Home Page";
}
@using Portfolio.Models;
@using System.Collections.Generic;
@model List<GithubRepo>

<script type="text/javascript" src="~/js/Home.js"></script>

<h1 class="text-center text-capitalize">Welcome To Cameron Anderson's Portfolio!</h1>

<hr />
<br />
<br />

<div class="projects">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li data-target="#myCarousel" data-slide-to="@i" class="indicator"></li>
            }
        </ol>
        <h2 class="text-center popover-title" id="carousel-title">Check out some of my projects!</h2>

        <div class="carousel-inner" role="listbox">

            @foreach (GithubRepo repo in Model)
            {
                <div class="item    ">
                    <div class="carousel-content text-center">
                        <h3 class="text-center project-title text-capitalize">@repo.Name</h3>
                        <a class="btn btn-info" target="_blank" href="@repo.Html_Url">Take me to github!</a> <br />
                        <h5>@repo.Description</h5>
                        <br /><br />
                        <br />
                    </div>
                </div>

            }


        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3 info-btn info-btn-about">About Me</div>
    <div class="col-md-3 info-btn info-btn-contact">Contact Me</div>
    <div class="col-md-3"></div>
</div>
<hr />

<div class="info info-about" hidden>
    <h3>Who am I?</h3>
    <div class="row">
        <img src="~/images/portfolioPhoto.jpg" class="personal_pic" />
        <br />
        <p>
            Hello, my name is Cameron Anderson. I Studied Computer Science for 3 years at <b>Gonzaga University</b>, and another 2 years at <b>Portland Community College</b>. I am currently a Student at <b>Epicodis</b>.
        </p>
        <p>
            Starting out as a mechanical engineering major one of my preriquisites was an "Intro to CS course".
            Just a coulple week in, I knew that software development was where my future lay.
            I now utilize every opportunity I can get to learn more and become a better programmer.
            As a friend of mine once said, <i>"Coding is the closest to magic I'm ever going to get.</i>"
        </p>
    </div>
    <br /><h3>Education</h3>
    <div class="row">
        <ul class="contact">
            <li><h4>Epicodus (2018) - C#/.Net Track</h4></li>
            <li><h4>Portland Community College (2016-2017) - Computer Science</h4></li>
            <li><h4>Gonzaga University (2012-2016) - Computer Science</h4></li>
        </ul>
    </div>
    <br /><h3>Work History</h3>
    <div class="row">
        <i>Coming Soon...</i>
    </div>


</div>

<div class="info info-contact" hidden>
    <ol class="contact text-center">
        <li>Email - <a href="mailto:chamburg321@gmail.com?Subject=Hey%20There!" target="_top">chamburg321@gmail.com</a></li>
        <li>Github - <a href="https://github.com/camander321">camander321</a></li>
        <li>LinkedIn - <a href="www.linkedin.com/in/cam-r-anderson">cam-r-anderson</a></li>
        <li>Resume - <a href="https://drive.google.com/uc?export=download&id=10y0b5vGf39tt5TAl_WeO5-gV5pQ5OifN" download>Download Me!</a></li>
        <li>Phone - (503) 432 - 5529
    </ol>
</div>