
@{
    ViewData["Title"] = "Blog";
}

<h2>My Blog Posts</h2>

<div id="posts">
    <h5>Showing posts <span id="first"></span>-<span id="last"></span> of <span id="total"></span></h5>
    <ul id="post-list"></ul>
</div>

<script>
    $("#posts").hide();
    $.ajax({
        type: 'GET',
        url: '@Url.Action("GetPosts")', success: function (result) {
            console.log(result);
            var first = (result.page - 1) * result.shown + 1;
            var last = first + result.shown;
            if (last > result.total) last = result.total;

            $("#first").text(first);
            $("#last").text(last);
            $("#total").text(result.total);
            $("#posts").show();

            var list = $("#post-list");
            result.data.forEach(function (item) {
                var html = "<h3>" + item.title + "</h3>";
                html += "<h6>" + item.time + "</h6>";
                list.append("<li>" + html + "</li>");
            })
        }
    });
</script>

